In [2]:
#import modules
import pandas as pd
import csv

In [3]:
#append all individual michelin star(s) files into one bigd_data_set

path1michelin = "../data_sets_csv/one-star-michelin-restaurants.csv"
path2michelin = "../data_sets_csv/two-stars-michelin-restaurants.csv"
path3michelin = "../data_sets_csv/three-stars-michelin-restaurants.csv"

file1star = pd.read_csv(path1michelin)
file2star = pd.read_csv(path2michelin)
file3star = pd.read_csv(path3michelin)

file_1_2 = file1star.append(file2star)
file_1_2_3 = file_1_2.append(file3star)

file_1_2_3

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url
0,Kilian Stuba,2019,47.348580,10.171140,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...
1,Pfefferschiff,2019,47.837870,13.079170,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2,Esszimmer,2019,47.806850,13.034090,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
3,Carpe Diem,2019,47.800010,13.040060,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
4,Edvard,2019,48.216503,16.368520,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
...,...,...,...,...,...,...,...,...,...,...
31,Fat Duck,2019,51.508280,-0.702320,Bray,United Kingdom,SL6 2AQ,Creative,NaN,https://guide.michelin.com/gb/en/buckinghamshi...
32,Waterside Inn,2019,51.507730,-0.701210,Bray,United Kingdom,SL6 2AT,Classic French,NaN,https://guide.michelin.com/gb/en/buckinghamshi...
33,Alain Ducasse at The Dorchester,2019,51.507120,-0.152520,Mayfair,United Kingdom,W1K 1QA,French,NaN,https://guide.michelin.com/gb/en/greater-londo...
34,The Araki,2019,51.511826,-0.140389,Mayfair,United Kingdom,W1S 3BF,Japanese,NaN,https://guide.michelin.com/gb/en/greater-londo...
35,Gordon Ramsay,2019,51.485460,-0.162020,Chelsea,United Kingdom,SW3 4HP,French,NaN,https://guide.michelin.com/gb/en/greater-londo...

In [5]:
#Inspect the file in the region columns to see how are the restaurants distributed

file_1_2_3["region"].value_counts()

United Kingdom    162
California         90
New York City      74
Hong Kong          63
Singapore          39
Denmark            28
South Korea        26
Thailand           26
Taipei             24
Sweden             22
Chicago            22
Austria            19
Macau              19
Washington DC      16
Ireland            14
Sao Paulo          12
Norway              8
Hungary             6
Rio de Janeiro      6
Finland             6
Croatia             5
Greece              4
Czech Republic      2
Poland              2
Name: region, dtype: int64

In [6]:
#Since US located restaurants are located in different cities (in the region field), replace the region value from <city_name> to <"United States">

file_1_2_3["region"] = file_1_2_3["region"].replace({"Chicago":"United States", "Washington DC":"United States", "New York City":"United States", "California":"United States"})

file_1_2_3["region"].value_counts()

United States     202
United Kingdom    162
Hong Kong          63
Singapore          39
Denmark            28
Thailand           26
South Korea        26
Taipei             24
Sweden             22
Austria            19
Macau              19
Ireland            14
Sao Paulo          12
Norway              8
Rio de Janeiro      6
Hungary             6
Finland             6
Croatia             5
Greece              4
Poland              2
Czech Republic      2
Name: region, dtype: int64

In [7]:
#Create file data set with only restaurants within the United States region.
#Run a code to verify that we have effectively only kept US located restaurants

us_michelin_rest = file_1_2_3.loc[file_1_2_3["region"] == "United States" , : ]

us_michelin_rest["region"].value_counts()

United States    202
Name: region, dtype: int64

In [10]:
#Output the file into a csv for storage purposes.

us_michelin_rest.to_csv("../data_sets_csv/michelin_data_us.csv", index=False, header=True)